{{> spageh}}
{{#if ne}}
	<div class="content">
		{{#if errors}}
			{{#each errors}}
				<div class="alert alert-danger">
					{{this.msg}}
				</div>
			{{/each}}
		{{/if}}
		
			
		
		<div class="card card-user">
            <div class="card-header">
				<h5 class="card-title">Password Reset </h5>
					{{#if success}}
					 <div id = "error" class="alert alert-success">
					{{success}}
					click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
						
				  </div>
					{{/if}}
					{{#showSuccess}}
				{{#success}}
				  <div id = "error" class="alert alert-success">
					{{.}}
					click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
						
				  </div>
				{{/success}}
			{{/showSuccess}}
							
					
					{{#showErrors}}
				{{#error}}
				  <div id = "error" class="alert alert-danger">
					{{.}}
				  </div>
				{{/error}}
			{{/showErrors}}
			</div>
			<div class="card-body">
                <form action = "/forgotpassword" method = "post">
                    <div class="form-group">
						<label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" value = "" name = "email" required/>
                        <div class="update  ml-auto mr-auto">
						<button type="submit" class="btn btn-primary btn-round"> Submit </button>
					</div>
                </form>
                    </div>
            </div>
        </div>
    </div>
	{{/if}}
{{#if str}}
<div class="content">
<div class="card card-user">
            <div class="card-header">
				<h5 class="card-title">Password Reset </h5>
					{{#if success}}
					 <div id = "error" class="alert alert-success">
					{{success}}
					click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
						
				  </div>
					{{/if}}
					{{#showSuccess}}
				{{#success}}
				  <div id = "error" class="alert alert-success">
					{{.}}
					click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
						
				  </div>
				{{/success}}
			{{/showSuccess}}
							
					
					{{#showErrors}}
				{{#error}}
				  <div id = "error" class="alert alert-danger">
					{{.}}
				  </div>
				{{/error}}
			{{/showErrors}}
			</div>
			<div class="card-body">
                <form action = "/forgotpassword/{{str}}/{{email}}" method = "post">
                    <div class="form-group">
					<label for="exampleInputEmail1">Code</label>
                        <input type="email" class="form-control" height = "300px" placeholder="Enter Code" value = "" name = "pin" required/>
						<label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" value = "{{email}}" name = "email" readonly/>
                        <div class="update  ml-auto mr-auto">
						<button type="submit" class="btn btn-primary btn-round"> Submit </button>
					</div>
                </form>
                    </div>
            </div>
        </div>

 </div>
{{/if}}
{{> spagef}}