{{> spageh}}
{{#if ne}}
	<div class="content">
		{{#if errors}}
			{{#each errors}}
				<div class="alert alert-danger">
					{{this.msg}}
				</div>
			{{/each}}
		{{/if}}
		
			
		
		<div class="card card-user">
            <div class="card-header">
				<h5 class="card-title">Password Reset </h5>
					{{#if success}}
					 <div id = "error" class="alert alert-success">
					{{success}}
					click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
						
				  </div>
					{{/if}}
					{{#showSuccess}}
				{{#success}}
				  <div id = "error" class="alert alert-success">
					{{.}}
					click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
						
				  </div>
				{{/success}}
			{{/showSuccess}}
							
					
					{{#showErrors}}
				{{#error}}
				  <div id = "error" class="alert alert-danger">
					{{.}}
				  </div>
				{{/error}}
			{{/showErrors}}
			</div>
			<div class="card-body">
                <form action = "/forgotpassword" method = "post">
                    <div class="form-group">
						<label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" value = "" name = "email" required/>
                        <div class="update  ml-auto mr-auto">
						<button type="submit" class="btn btn-primary btn-round"> Submit </button>
					</div>
                </form>
                    </div>
            </div>
        </div>
    </div>
	{{/if}}
{{#if str}}
<div class="content">
{{#if errors}}
			{{#each errors}}
				<div class="alert alert-danger">
					{{this.msg}}
				</div>
			{{/each}}
		{{/if}}
<div class="card card-user">
            <div class="card-header">
				<h5 class="card-title">Password Reset </h5>
					{{#if success}}
					 <div id = "error" class="alert alert-success">
					{{success}}
					click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
						
				  </div>
					{{/if}}
					{{#showSuccess}}
				{{#success}}
				  <div id = "error" class="alert alert-success">
					{{.}}
					click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
						
				  </div>
				{{/success}}
			{{/showSuccess}}
							
					
					{{#showErrors}}
				{{#error}}
				  <div id = "error" class="alert alert-danger">
					{{.}}
				  </div>
				{{/error}}
			{{/showErrors}}
			</div>
			<div class="card-body">
			
			{{#if error}}
			<div id = "error" class="alert alert-danger">
					{{error}}
				  </div>
			{{/if}}
                <form action = "/forgotpassword/{{str}}" method = "post">
                    <div class="form-group">
					<label for="exampleInputEmail1">Code</label>
                        <input type="text" class="form-control" height = "300px" placeholder="Enter Code" value = "{{pin}}" name = "pin" required/>
						<label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" value = "{{email}}" name = "email" readonly/>
                        <div class="update  ml-auto mr-auto">
						<button type="submit" class="btn btn-primary btn-round"> Submit </button>
					</div>
                </form>
                    </div>
            </div>
        </div>

 </div>
{{/if}}
{{> spagef}}

{{#if changepass}}
<div class="content">
{{#if errors}}
			{{#each errors}}
				<div class="alert alert-danger">
					{{this.msg}}
				</div>
			{{/each}}
		{{/if}}
		
		<div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Edit Password </h5>
              </div>
              <div class="card-body">
                <form action = "/changepass/{{email}}" method = "post">
               
		
			 	
				{{#if success}}
				  <div id = "passwordsuccess" class="alert alert-success">
					{{success}}
				  </div>
				{{/if}}
			
			
				{{#if error}}
				  <div id = "passworderror" class="alert alert-danger">
					{{error}}
				  </div>
				{{/if}}
		
                  
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" placeholder="" value = "{{email}}"  name = "email" readonly/>
                      
                    
                    </div>
                    
                      <div class="form-group">
                        <label for="exampleInputEmail1">New Password</label>
                        <input type="password" class="form-control" placeholder="New Password" value = "{{pass1}}"  name = "password" required/>
                      
                    </div>
                    
                      <div class="form-group">
                        <label for="exampleInputEmail1">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" value = "{{pass2}}" name = "cpass" required/>
                      
                    </div>
                    <div class="update  ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round">Change Password </button>
                    
                  </div>
                </form>
              </div>
            
          </div>
</div>

{{/if}}