{{> mainh}}{{> mainnav}}


	<div id="content" class="site-content">

	<section id="primary" class="content-area">
		<main id="main" class="site-main">

			
<article id="post-4" class="post-4 page type-page status-publish hentry entry">

	<header class="entry-header responsive-max-width">
		
<h1 class="entry-title">Home</h1>
	</header>

	
	<div class="entry-content">
		
<div class="wp-block-cover alignfull has-background-dim is-style-bottom-wave" style="background-color:#99e1d9;"><div class="wp-block-cover__inner-container">
<div style="height:60px;" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-10 column1-desktop-grid__start-2 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 wp-block-jetpack-layout-gutter__nowrap wp-block-jetpack-layout-gutter__none">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="has-text-align-left has-text-color" style="font-size:59px;color:#24135f;"><strong>{{title}}</strong></p>
</div>
</div>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-6 column1-desktop-grid__start-2 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 wp-block-jetpack-layout-gutter__nowrap">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="has-text-color" style="font-size:24px;color:#24135f;">{{mess}}</p>



<div class="wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link has-text-color has-background" href = "/#howitworks" style="background-color:#24135f;color:#99e1d9;">Learn more</a></div>
</div>
</div>
</div>



<div style="height:160px;" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>



<div class="wp-block-group alignfull has-background-background-color has-background"><div class="wp-block-group__inner-container">
<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-6 column1-desktop-grid__start-2 column1-desktop-grid__row-1 column2-desktop-grid__span-3 column2-desktop-grid__start-9 column2-desktop-grid__row-1 column1-tablet-grid__span-5 column1-tablet-grid__row-1 column2-tablet-grid__span-3 column2-tablet-grid__start-6 column2-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 column2-mobile-grid__span-4 column2-mobile-grid__row-2 wp-block-jetpack-layout-gutter__nowrap">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<h4 id = "about" class="margin-bottom-half"><strong>ABOUT US</strong></h4>

<p style="font-size:24px;">We are a community of vibrant youths seeking to grow, improve and stabilize one another financially, socially and intellectually.</p>
</div>



<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="margin-bottom-half"><strong>Get in touch:</strong></p>



<p class="margin-top-half has-small-font-size">Mail Us<br><a target = "_blank" href= "mailto: theezwift@gmail.com">theezwift@gmail.com</a></p>



<p class="margin-bottom-half"><strong>Follow us:</strong></p>



<ul class="wp-block-social-links is-style-default margin-top-half">
<li class="wp-social-link wp-social-link-facebook wp-block-social-link"><a href="https://facebook.com/ezwift" aria-label="Facebook: https://facebook.com"  class="wp-block-social-link-anchor"> <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true" focusable="false"><path d="M12 2C6.5 2 2 6.5 2 12c0 5 3.7 9.1 8.4 9.9v-7H7.9V12h2.5V9.8c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.5h-1.3c-1.2 0-1.6.8-1.6 1.6V12h2.8l-.4 2.9h-2.3v7C18.3 21.1 22 17 22 12c0-5.5-4.5-10-10-10z"></path></svg></a></li>




</ul>
</div>
</div>



<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>



<div class="wp-block-group alignfull has-text-color has-background" style="background-color:#f1f1f1;color:#24135f;"><div class="wp-block-group__inner-container">
<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-4 column1-desktop-grid__row-1 column2-desktop-grid__span-4 column2-desktop-grid__start-5 column2-desktop-grid__row-1 column3-desktop-grid__span-4 column3-desktop-grid__start-9 column3-desktop-grid__row-1 column1-tablet-grid__span-4 column1-tablet-grid__row-1 column2-tablet-grid__span-4 column2-tablet-grid__start-5 column2-tablet-grid__row-1 column3-tablet-grid__span-8 column3-tablet-grid__row-2 column1-mobile-grid__span-4 column1-mobile-grid__row-1 column2-mobile-grid__span-4 column2-mobile-grid__row-2 column3-mobile-grid__span-4 column3-mobile-grid__row-3">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="has-text-align-center margin-bottom-none" style="font-size:71px;"><strong>{{nousers}}</strong></p>



<p class="has-text-align-center margin-top-none"><strong>Total Users</strong></p>
</div>



<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="has-text-align-center margin-bottom-none" style="font-size:71px;"><strong>N{{amount}}</strong></p>



<p class="has-text-align-center margin-top-none"><strong>Total Transaction</strong></p>
</div>



<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="has-text-align-center margin-bottom-none" style="font-size:71px;"><strong>{{activated}}</strong></p>



<p class="has-text-align-center margin-top-none"><strong>Total Activated Users</strong></p>
</div>
</div>



<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-6 column1-desktop-grid__row-1 column2-desktop-grid__span-6 column2-desktop-grid__start-7 column2-desktop-grid__row-1 column1-tablet-grid__span-4 column1-tablet-grid__row-1 column2-tablet-grid__span-4 column2-tablet-grid__start-5 column2-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 column2-mobile-grid__span-4 column2-mobile-grid__row-2 wp-block-jetpack-layout-gutter__nowrap wp-block-jetpack-layout-gutter__none">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<div class="wp-block-cover has-background-dim" style="background-color:#fcdc3e;"><div class="wp-block-cover__inner-container">
<div class="wp-block-group has-background" style="background-color:#fcdc3e;"><div class="wp-block-group__inner-container">
<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>



<p class="has-text-color" style="font-size:41px;color:#24135f;"><strong>{{title}} IS NOT</strong></p>



<p class="has-text-color" style="color:#24135f;"> a 'get rich quick' scheme, <br> a money doubling platform, <br> a ponzi scheme, <br> a trading website, <br> a PH to GH triple or double of PH amount website. <br> <br></p>



<div class="wp-block-buttons">
<div class="wp-block-button is-style-outline"><a href = "/faq/ref={{sponsor}}" class="wp-block-button__link has-text-color has-background" style="background-color:#24135f;color:#fcdc3e;">Learn More</a></div>
</div>



<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>
</div></div>
</div>



<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<div class="wp-block-cover has-background-dim" style="background-color:#24135f;"><div class="wp-block-cover__inner-container">
<div class="wp-block-group has-background" style="background-color:#24135f;"><div class="wp-block-group__inner-container">
<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>



<p class="has-text-color" style="font-size:41px;color:#fcdc3e;"><strong>What We Do?</strong></p>



<p class="has-text-color" style="color:#fcdc3e;">{{title}} a pure network marketing platform targeted at reducing unemployment, reducing social vices  and increasing financial stability amongt youth as well as creating financial independence and stability.</p>



<div class="wp-block-buttons">
<div class="wp-block-button is-style-outline"><a a href = "/howitworks/ref={{sponsor}}" class="wp-block-button__link has-text-color has-background" style="background-color:#fcdc3e;color:#24135f;">Learn More</a></div>
</div>



<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>
</div></div>
</div>
</div>



<div class="wp-block-group alignfull has-background-background-color has-background"><div class="wp-block-group__inner-container">
<div style="height:32px;" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-10 column1-desktop-grid__start-2 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 wp-block-jetpack-layout-gutter__nowrap wp-block-jetpack-layout-gutter__none">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p style="font-size:41px;"><strong>Hear From Our Proud Beneficiaries</strong>.</p>
</div>
</div>



<div style="height:20px;" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-10 column1-desktop-grid__start-2 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 wp-block-jetpack-layout-gutter__nowrap wp-block-jetpack-layout-gutter__none">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">				<div
			class="wp-block-newspack-blocks-homepage-articles  wpnbha is-grid columns-2 show-image image-aligntop ts-3 is-3 is-landscape "
			style=""
			>
			<div data-posts data-current-post-id="4">
								
	<article data-post-id="3"
		class="category-uncategorized type-post"
				>
		
		<div class="entry-wrapper">
			<h2 class="entry-title">{{fullname1}}</h2>						<p>{{testimony1}}<a class="more-link" href="/register/ref={{sponsor}}">Sign up with my link <span class="screen-reader-text">&#8220;New Volunteer Opportunities&#8221;</span></a></p>
				<div class="entry-meta">
					<time class="entry-date published" datetime="{{date1}}">{{date1}}</time><time class="updated" datetime="2021-06-03T22:32:05+01:00">June 3, 2021</time>				</div><!-- .entry-meta -->
					</div><!-- .entry-wrapper -->
	</article>

		
	<article data-post-id="5"
		class="category-uncategorized type-post"
				>
		
		<div class="entry-wrapper">
			<h2 class="entry-title">{{fullname2}}</h2>						<p>{{testimony2}}<a class="more-link" href="/register/ref={{sponsor}}">Sign up with my link <span class="screen-reader-text">&#8220;Celebrate Microvolunteering Day&#8221;</span></a></p>
				<div class="entry-meta">
					<time class="entry-date published" datetime="{{date2}}">{{date2}}</time><time class="updated" datetime="{{date2}}">{{date2}}</time>				</div><!-- .entry-meta -->
					</div><!-- .entry-wrapper -->
	</article>

					</div>
			
		</div>
				</div>
</div>
</div></div>



<div class="wp-block-cover alignfull has-background-dim is-style-top-wave" style="background-color:#fcdc3e;"><div class="wp-block-cover__inner-container">
<div style="height:260px;" aria-hidden="true" class="wp-block-spacer"></div>



<p class="has-text-align-center has-text-color" style="font-size:35.56px;color:#24135f;">&#8220; An investment in knowledge pays the best interest&#8217;re impossible.&#8221;</p>



<p class="has-text-align-center has-text-color" style="color:#24135f;">Benjamin Franklin</p>



<div style="height:30px;" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>
	</div><!-- .entry-content -->

			<footer class="entry-footer responsive-max-width">
			</footer><!-- .entry-footer -->
	</article><!-- #post-4 -->

		</main><!-- #main -->
	</section><!-- #primary -->


	</div><!-- #content -->
{{> mainf}}