{{> mainh}}{{> mainnav}}


	<div class="wrapper">
    <div class="page-header">
      <img src="/assets/img/blob.png" class="path">
      <img src="/assets/img/path2.png" class="path2">
      <img src="/assets/img/triunghiuri.png" class="shapes triangle">
      <img src="/assets/img/waves.png" class="shapes wave">
      <img src="/assets/img/patrat.png" class="shapes squares">
      <img src="/assets/img/cercuri.png" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white"  >ABOUT 
              <br/>
              <span class="text-white">US</span>
            </h1>
            <p class="text-white mb-3">We are a community of vibrant youths seeking to grow, improve and stabilize one another financially, socially and intellectually.</p>
            <div class="btn-wrapper mb-3">
              <p class="category text-success d-inline"></p>
              <a href="#blk" class="btn btn-success btn-link btn-sm"><!--<i class="tim-icons icon-minimal-right">--></i></a>
            </div>
            <!--<div class="btn-wrapper">
              <div class="button-container">
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-twitter"></i>
                </button>
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-dribbble"></i>
                </button>
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-facebook"></i>
                </button>
              </div>
            </div>-->
          </div>
          <div class="col-lg-4 col-md-5">
            <img src="/assets/img/etherum.png" alt="Circle image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
	<section class="section section-lg">
      <section class="section">
        <img src="/assets/img/path4.png" class="path">
        <div class="container">
          <div class="row row-grid justify-content-between">
            <div class="col-md-5 mt-lg-5">
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-single-02 text-warning"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">{{nousers}}
                              <p>
                                <p class="card-category">Total Users</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats upper bg-default">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-wallet-43 text-white"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">N{{amount}}
                              <p>
                                <p class="card-category">Total Transactions</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10  col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-key-25 text-info"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">{{activated}}
                              <p>
                                <p class="card-category">Total Activated Users</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="pl-md-5">
                <h1 id = "about">What We
                  <br/>Do</h1>
                <p> {{title}} is not a 'get rich quick' scheme, <br> a money doubling platform, <br> a ponzi scheme, <br> a trading website, <br> a PH to GH triple or double of PH amount website rather, <br><br>{{title}} is a pure network marketing platform targeted at reducing unemployment, reducing social vices  and increasing financial stability amongt youth as well as creating financial independence and stability. </p>
                
                
               </div>
            </div>
          </div>
        </div>
      </section>
    </section>
	
	<section class="section section-lg">
      <img src="/assets/img/path4.png" class="path">
      <img src="/assets/img/path5.png" class="path2">
      <img src="/assets/img/path2.png" class="path3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="text-center">WHY US?</h1>
            <div class="row row-grid justify-content-center">
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="tim-icons icon-money-coins"></i>
                  </div>
                  <h4 class="info-title">Amazing referral Bonus</h4>
                  <hr class="line-primary">
                  <p>We have the best referral payment which will make you wish you have 'lazy downlines'.<br><br> You earn N1,000 on each of your referrals when they activate their account. You also get N15,000 from each of your referrals. Click <a href = "/howitworks/ref={{sponsor}}/#referral">here</a> for more information. </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-warning">
                    <i class="tim-icons icon-chart-pie-36"></i>
                  </div>
                  <h4 class="info-title">Extra Short Matrix</h4>
                  <hr class="line-warning">
                  <p>We sure hate long, tiresome, impossible to achieve matrix just like you! <br><br>Our feeder matrix is just two levels deep hence, you are sure to max out and return to the matrix in time.   </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="tim-icons icon-single-02"></i>
                  </div>
                  <h4 class="info-title">Fair System</h4>
                  <hr class="line-success">
                  <p>Our system is fair and open. There is no 'oga at the top' anywhere.<br><br> Once a user max out, to continue earning, you have to re-enter the matrix under your downlines and become their downlines! Amazing isn't it?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg section-safe">
      <img src="/assets/img/path5.png" class="path">
      <div class="container ">
        <div class="row row-grid justify-content-between">
           <div class="col-md-5">
            <img src="/assets/img/chester-wade.jpeg" class="img-fluid floating">
            <div class="card card-stats bg-danger">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">100%</p>
                    <p class="card-category text-white">Safe</p>
                  </div>
                </div>
              </div>
            </div>
            
           <div class="card card-stats bg-default">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">100%</p>
                    <p class="card-category text-white">Team Work</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="px-md-5">
              <hr class="line-success">
              <h3>How It Works</h3>
              <p>To earn in this platform, there are just 3 steps to follow;</p>
              <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-key-25"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Sign up and activate your account.</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-single-02"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Enter the feeder matrix and share your link</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons  icon-wallet-43"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Start earning.</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
	
{{> mainf}}