{{> spageh}}
{{> spagenav}}

<div class="content">
	 {{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
  {{/each}}
{{/if}}
   <div class="row">
   <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title  text-center"> {{mess}} </h5>
              </div>
              <div class="card-body">
                <p class = "text-big text-info">
                	Hello {{#if admin}} {{admin.username}}{{/if}} {{#if user}} {{user.username}} {{/if}}! {{me}}
                </p> 
                <p>
                You have {{count}} referral(s)! 
                </p>
                <p>
                Your landing page link is <a id = "landinglink" href ="/welcome/{{#if admin}}{{admin.username}}{{else}}{{user.username}}{{/if}}"> ezwift.online/welcome/{{#if admin}}{{admin.username}}{{else}}{{user.username}}{{/if}}</a>
                </p> <p>
                Your referral link is <a id = "reflink" href ="/register/ref={{#if admin}}{{admin.username}}{{else}}{{user.username}}{{/if}}"> ezwift.online/register/ref={{#if admin}}{{admin.username}}{{else}}{{user.username}}{{/if}}</a>
                </p>
                <h5 class = "text-center">MY FEEDER LEG</h5>
                {{#if ftree}}
				<div class = "row">
				 <div class = "col-md-8 container">
                	<div class = "row container text-center">
					 <div class = "col">
					 {{ftree.a}}
					</div>
					<div class = "col">
					 {{ftree.b}}
					</div>
					</div><br>
					<div class = "row">
					 <div class = "col">
					 {{ftree.aa}}
					</div> 
					<div class = "col">
					 {{ftree.ab}}
					</div>
					<div class = "col">
					 {{ftree.ba}}
					</div>
					<div class = "col">
					 {{ftree.ba}}
					</div>
					</div>
					</div>
					</div>
                {{/if}}
                <br><br><br><br>
                <h5 class = "text-center">MY REFFERRAL LIST </h5>
                <div class = "row">
                {{#if referrals}}
                {{#each referrals}}
                <p class = "col-md-4"> <b>{{full_name}}</b>
                <br>
                Phone: {{phone}}<br>
                Email: {{email}}<br>
                Status: {{status}}<br>
                Activated: {{activated}}</p>
                {{/each}}
                {{/if}}
                </div>
              </div>
            </div>
            
          </div>
          </div>
          </div>
          </div>

{{> spagef}}